---
import BotonConIcono from "./BotonConIcono.astro";
---

<section id="contacto">
  <div class="max-w-screen-xl px-6 py-8 mx-auto lg:px-6 sm:py-12 lg:py-14">
    <h2
      class="text-left pb-16 text-4xl font-extrabold leading-tight tracking-tight text-white"
    >
      Contacto
    </h2>
    <form action="#">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="w-full">
          <label
            for="remitente"
            class="block mb-2 text-sm font-medium text-white">Nombre</label
          >
          <input
            type="text"
            name="remitente"
            id="remitente"
            class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="Su nombre"
            required={true}
          />
        </div>
        <div class="w-full">
          <label
            for="remitente_email"
            class="block mb-2 text-sm font-medium text-white">Email</label
          >
          <input
            type="email"
            name="remitente_email"
            id="remitente_email"
            class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="Su email"
            required={true}
          />
        </div>
        <div class="sm:col-span-2">
          <label for="mensaje" class="block mb-2 text-sm font-medium text-white"
            >Mensaje</label
          >
          <textarea
            id="mensaje"
            name="mensaje"
            rows="8"
            class="block p-2.5 w-full text-sm rounded-lg border focus:ring-primary-500 focus:border-primary-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="Escriba su mensaje aqui"
            required={true}></textarea>
        </div>
      </div>
      <button class="flex justify-start items-center pt-3" type="submit">
        <span
          class="bg-white/5 border border-white/10 border-gray-400 rounded-lg flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base text-white/90 transition hover:scale-110 hover:bg-white/10"
        >
          Enviar mensaje
          <img
            class="inline-block w-6 h-6 ml-2 align-middle"
            src="/enviar.svg"
            alt="Enviar"
          />
        </span>
      </button>
    </form>
  </div>
</section>
