<script>
  import emailjs from "@emailjs/browser";

  emailjs.init({
    publicKey: "vrx30Jt0eJ-uGh9pu",
  });

  const form = document.getElementById("formulario-contacto");

  if (form) {
    form.addEventListener("submit", (e) => {
      e.preventDefault();

      emailjs
        .sendForm("service_yxt933f", "template_1iaxlwc", "#formulario-contacto")
        .then(
          function (response) {
            console.log("SUCCESS!", response.status, response.text);
            (form as HTMLFormElement).reset();
            alert("Mensaje enviado correctamente");
          },
          function (error) {
            console.log("FAILED...", error);
            alert("Error al enviar el mensaje, inténtelo de nuevo más tarde");
          }
        );
    });
  }
</script>

<section id="contacto">
  <div class="max-w-screen-xl px-6 py-8 mx-auto lg:px-6 sm:py-12 lg:py-14">
    <h2
      class="text-left pb-16 text-4xl font-extrabold leading-tight tracking-tight text-white"
    >
      Contacto
    </h2>
    <p class="text-lg text-white pb-12 text-pretty">
      Si tienes alguna duda, sugerencia o simplemente quieres saludar, no dudes
      en dejarla en el siguiente formulario de contacto. Estaré encantado de
      leerte y responder a la mayor brevedad posible. <br />También puedes
      hacerlo directamente a mi correo electrónico
      <a
        href="mailto:gonza.iglesias00@gmail.com"
        class="text-purple-400 hover:underline"
      >
        gonza.iglesias00@gmail.com
      </a>
      <form id="formulario-contacto">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="w-full">
            <label
              for="remitente"
              class="block mb-2 text-xl font-medium text-white">Nombre</label
            >
            <input
              type="text"
              name="remitente"
              id="remitente"
              class="border text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
              placeholder="Su nombre"
              required={true}
            />
          </div>
          <div class="w-full">
            <label
              for="remitente_email"
              class="block mb-2 text-xl font-medium text-white">Email</label
            >
            <input
              type="email"
              name="remitente_email"
              id="remitente_email"
              class="border text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
              placeholder="Su email"
              required={true}
            />
          </div>
          <div class="sm:col-span-2">
            <label
              for="mensaje"
              class="block mb-2 text-xl font-medium text-white">Mensaje</label
            >
            <textarea
              id="mensaje"
              name="mensaje"
              rows="8"
              class="block p-2.5 w-full text-base rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
              placeholder="Escriba su mensaje aqui"
              required={true}></textarea>
          </div>
        </div>
        <button class="flex justify-start items-center pt-3" type="submit">
          <span
            class="bg-white/5 border border-white/10 border-gray-400 rounded-lg flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base text-white/90 transition hover:scale-110 hover:bg-white/10"
          >
            Enviar mensaje
            <img
              class="inline-block w-6 h-6 ml-2 align-middle"
              src="/enviar.svg"
              alt="Enviar"
              loading="lazy"
            />
          </span>
        </button>
      </form>
    </p>
  </div>
</section>
