<section id="habilidades">
  <div class="max-w-screen-xl px-6 py-8 mx-auto lg:px-6 sm:py-12 lg:py-14">
    <h2
      class="text-left pb-16 text-4xl font-extrabold leading-tight tracking-tight text-white"
    >
      Habilidades
    </h2>
    <div class="grid lg:grid-cols-10 auto-rows-[26rem] gap-4">
      <article
        class={`col-span-10 rounded-xl border border-black/10 dark:border-neutral-600 shadow-inner shadow-white/10 overflow-hidden lg:col-span-6`}
      >
        <div
          class="bg-black bg-opacity-20 h-full px-10 flex flex-col justify-start pt-10"
        >
          <h2
            class="text-white text-3xl text-balance font-semibold uppercase mb-5"
          >
            Frontend
          </h2>
          <div class="grid grid-cols-3 gap-8 lg:gap-12 mt-8">
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/javascript-1.svg"
                alt="JavaScript Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                JavaScript
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/html5.svg"
                alt="HTML Icon"
              />
              <h4
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                HTML
              </h4>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/css.svg"
                alt="CSS Icon"
              />
              <h4
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                CSS
              </h4>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/react.svg"
                alt="React Icon"
              />
              <h4
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                React
              </h4>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/material-ui.svg"
                alt="Material UI Icon"
              />
              <h4
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Material UI
              </h4>
            </div>
          </div>
        </div>
      </article>
      <article
        class={`col-span-10 rounded-xl border border-black/10 dark:border-neutral-600 shadow-inner shadow-white/10 overflow-hidden lg:col-span-4`}
      >
        <div
          class="bg-black bg-opacity-20 h-full px-10 flex flex-wrap flex-col justify-start pt-10"
        >
          <h2
            class="text-white text-3xl text-balance font-semibold uppercase mb-5"
          >
            Backend
          </h2>
          <div class="grid grid-cols-2 gap-8 lg:gap-12 mt-8">
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/postgresql.svg"
                alt="PostgreSQL Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                PostgreSQL
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/nodejs.svg"
                alt="Node.js Icon"
              />
              <h4
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Node.js
              </h4>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/sequelize.svg"
                alt="Sequelize Icon"
              />
              <h4
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Sequelize
              </h4>
            </div>
          </div>
        </div>
      </article>
      <article
        class={`col-span-10 rounded-xl border border-black/10 dark:border-neutral-600 shadow-inner shadow-white/10 overflow-hidden lg:col-span-4`}
      >
        <div
          class="bg-black bg-opacity-20 h-full px-10 flex flex-wrap flex-col justify-start pt-10"
        >
          <h1
            class="text-white text-3xl text-balance font-semibold uppercase mb-5"
          >
            Aprendiendo
          </h1>
          <div class="grid grid-cols-2 gap-8 lg:gap-12 mt-8">
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/typescript.svg"
                alt="TypeScript Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                TypeScript
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/nextjs.svg"
                alt="Next.js Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Next.js
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/tailwind.svg"
                alt="Tailwind CSS Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Tailwind CSS
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article
        class={`col-span-10 rounded-xl border border-black/10 dark:border-neutral-600 shadow-inner shadow-white/10 overflow-hidden lg:col-span-6`}
      >
        <div
          class="bg-black bg-opacity-20 h-full px-10 flex flex-wrap flex-col justify-start pt-10"
        >
          <h1
            class="text-white text-3xl text-balance font-semibold uppercase mb-5"
          >
            Herramientas
          </h1>

          <div class="grid grid-cols-3 gap-8 lg:gap-12 mt-8">
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/github.svg"
                alt="GitHub Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                GitHub
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/figma.svg"
                alt="Figma Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Figma
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/trello.svg"
                alt="Trello Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Trello
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/postman.svg"
                alt="Postman Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Postman
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/scrum.svg"
                alt="Scrum Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Scrum
              </h3>
            </div>
            <div class="text-center text-gray-400">
              <img
                class="mx-auto mb-4 h-12"
                loading="lazy"
                src="/kanban.svg"
                alt="Kanban Icon"
              />
              <h3
                class="mb-1 text-lg md:text-2xl font-bold tracking-tight text-white"
              >
                Kanban
              </h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
